/* var  */

:root {
  --primery-color: #fff;
  --third-color: #6195ff;
  --secondery-color: #000000;
  --layer-color: rgba(0, 0, 0, 0.5);
  --transition: 700ms;
}

/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  list-style: none;
  text-decoration: none;
  letter-spacing: 0.1rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Varela Round", sans-serif;
}

/* animation */

@keyframes vibrate {
  0% {
    transform: rotatez(5deg);
    -webkit-transform: rotatez(5deg);
    -moz-transform: rotatez(5deg);
    -ms-transform: rotatez(5deg);
    -o-transform: rotatez(5deg);
  }
  50% {
    transform: rotatez(-5deg);
    -webkit-transform: rotatez(-5deg);
    -moz-transform: rotatez(-5deg);
    -ms-transform: rotatez(-5deg);
    -o-transform: rotatez(-5deg);
  }
}

/* repeated  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "montserrat", sans-serif;
  text-align: center;
  color: var(--primery-color);
}

.thirdPageImg,
.imgLayer,
.listIcon,
.bollet {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.listIcon,
.dropDown:hover .dropDownUl,
.secondPageSection,
.thirdPageImg,
.imgIcon {
  border: 2px solid var(--third-color);
}

header nav ul li a::after,
header nav ul li a.homeActive::after,
.h2title::after,
.imgIcon,
.fifthPageP::first-letter,
.activeBollet {
  background-color: var(--third-color) !important;
}

header nav ul li a::after,
header nav ul li a.homeActive::after,
.btn,
.seconPageTransition::after,
.thirdPageImg,
.imgLayer,
.imgParag,
.imgH3,
.imgIcon,
.sectionImg:hover,
.secondPageAncor,
.secondPageH3,
.secondPageParag,
.callNowBtn {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/* header  */

.firstPage {
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 1;
}

header .logo,
header .logo img {
  width: 35%;
}

.callNowBtn {
  width: 15%;
  top: 20px;
  right: 20px;
  position: fixed;
  padding: 10px;
  font-size: 15pt;
  animation: vibrate 1s 0.5s infinite alternate;
  -webkit-animation: vibrate 1s 0.5s infinite alternate;
  border: none;
  color: #fff;
  background: linear-gradient(141deg, #113cfc 60%, #000000 75%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.callNowBtn:hover {
  background-color: #113cfc;
  color: #fff;
  cursor: pointer;
}

.fa-fire-alt:before {
  content: "\f7e4";
  color: red;
  position: relative;
  top: 5px;
  right: -15px;
}

/* nav bar  */

header nav {
  width: 100%;
}

header nav ul,
header nav ul li {
  display: inline-block;
}

header nav ul li .nav-a,
.item-a {
  display: block;
  color: var(--primery-color);
  letter-spacing: 1pt;
  padding: 30px 15px;
}

header nav ul li a::after,
header nav ul li a.homeActive::after {
  content: "";
  height: 3px;
  display: block;
}

header nav ul li a::after {
  width: 0;
}

header nav ul li a:hover::after,
header nav ul li a.homeActive::after {
  width: 100%;
}

.dropDownUl {
  display: none;
}

.dropDown:hover .dropDownUl {
  display: block;
  position: absolute;
  width: 150px;
  height: max-content;
  text-align: center;
  background-color: var(--layer-color);
  padding: 10px;
  right: 450px;
}

.downIcon {
  position: relative;
  left: -50px;
  top: 25px;
}

/* home page  */
.home {
  height: 100vh;
  background-image: url(../jonatan-pie-h8nxGssjQXs-unsplash.jpg);
  background-size: cover;
  position: relative;
}

.home-content {
  color: var(--primery-color);
  opacity: 0.9;
  font-size: 17pt;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.overlay {
  background-color: var(--layer-color);
  height: 100vh;
}

.homeParagraph {
  margin: 50px auto;
  line-height: 1.6;
}

.gtStarted {
  background-color: #113cfc;
  color: white;
  margin-right: 10px;
}

.learnMore {
  background-color: #fff;
  color: #000000;
}

.gtStarted,
.learnMore {
  padding: 10px 50px;
  font-size: 15pt;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn:hover {
  opacity: 0.5;
}

/*------------------------------------------------------scroll second page -----------------------------------------------------*/

.h2title {
  color: var(--secondery-color);
  margin: 5% auto;
}

.h2title::after {
  content: "";
  height: 5px;
  width: 5%;
  margin: 5px auto 0;
  display: block;
}

.secondPageContent {
  display: flex;
  margin: 0 calc(30% / 4);
}

.secondPageSection {
  width: 30%;
  height: fit-content;
  margin: 10px auto;
  text-align: center;
}

.seconPageTransition {
  position: relative;
}

.seconPageTransition::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /*anotherway:;
  deletwidth&heightright: 0;
  bottom: 0;
  */
  background-color: var(--layer-color);
  z-index: -1;
}

.seconPageTransition:hover:after {
  width: 100%;
}

.secondPageSection:hover .secondPageH3,
.secondPageSection:hover .secondPageParag,
.secondPageSection:hover .secondPageAncor {
  color: var(--primery-color);
}

.secondPageH3 {
  color: var(--secondery-color);
  padding-top: 10px;
}
.secondPageParag {
  color: var(--secondery-color);
  margin: 15px 10px;
  line-height: 1.6;
}

.secondPageAncor {
  text-decoration: none;
  color: var(--third-color);
  font-weight: bold;
}

.icon {
  color: var(--third-color);
  margin: 10px 0;
}

/*--------------------------------------------------scroll third page--------------------------------------------*/

.thirdPageContent {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.thirdPagefigures {
  width: 30%;
  margin: 1% auto;
  position: relative;
}

.thirdPagefigures:hover .imgLayer,
.thirdPagefigures:hover .thirdPageImg {
  opacity: 1;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.thirdPagefigures:hover .imgH3,
.thirdPagefigures:hover .imgParag,
.thirdPagefigures:hover .imgIcon {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

.thirdPageImg {
  width: 100%;
  height: 100%;
}

.imgLayer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--layer-color);
  opacity: 0;
}

.imgInfo {
  position: absolute;
  text-align: center;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.imgH3 {
  color: var(--third-color);
  font-size: 2rem;
}

.imgParag {
  margin: 5% 0;
  color: var(--primery-color);
  font-size: 1em;
}

.imgIcon {
  margin: 0 5%;
  color: var(--primery-color);
  width: 25%;
  padding: 3%;
}

/* fifth img ---------------------------------------------------------------------------------- */

.fifthPageContent {
  width: 80%;
  margin: auto;
  display: flex;
}

.aside {
  position: relative;
}

.fifthPageText {
  opacity: 0.8;
}

.fifthPageP {
  width: 68%;
  margin: 0 0 30px;
  line-height: 1.6;
}

.fifthPageP::first-letter {
  color: var(--primery-color);
  padding: 2px;
  font-size: larger;
  margin-right: 2px;
}

.listIcon {
  padding: 2px;
}

.sectionImg {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sectionImg:hover {
  opacity: 0.5;
}

.coverImg:hover::before {
  font-family: "Font Awesome 5 Brands";
  content: "\fa90";
  font-weight: bolder;
  left: 50%;
}

.moveBtn,
.coverImg::before {
  position: absolute;
  top: 50%;
  color: var(--third-color);
}

.rightBtn,
.leftBtn {
  cursor: pointer;
}

.leftBtn {
  left: 0;
}

.rightBtn {
  right: 0;
}

.bolletsParent {
  text-align: center;
}

.bollet {
  width: 11px;
  height: 11px;
  margin: 5px;
  display: inline-block;
  background-color: var(--layer-color);
}
